# Build artifacts
target/
dist/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Databases
*.db
.ci/*.db

# Documentation
*.md
docs/

# CI/Test files
.ci/
.github/

# Temporary files
*.tmp
*.log
tests/fixtures
# tests/docker_integration_tests.rs
tests/listener_steps
tests/nested_workflow_steps
tests/steps
# tests